body,
html {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(
    to bottom,
    rgb(17, 245, 154),
    rgba(238, 68, 7, 0.479)
  );
  text-align: center;
  padding: 20px;
  display: grid;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: content-box;
}

h1 {
  font-size: 45px;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.514);
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 4px;
  margin-bottom: 4px;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 4px;
}
